//import font
@import url('https://fonts.googleapis.com/css?family=Cagliostro|Roboto+Slab&display=swap');

body {
    font-family: 'Cagliostro', sans-serif;
    font-size: 62.5%;
    color: white;
    letter-spacing: 3px;
    font-size: 1.4rem;
}


h1, h2, h3 {
    // font-family: 'Roboto Slab', serif;

}

h1 {
    font-size: 3.4rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 2.2rem;
}
